body {
    font-family: verdana,arial,helvetica,code2000,sans-serif;
}
.center {
    margin-left: auto;
    margin-right: auto;
    float: left;
}
.node {
    float: left;
    padding: 2px;
    overflow: hidden;
}
.con {
    float: left;
}
.nom {
    border-bottom: solid 1px black;
    float: left;
}
.div {
    width: 100%;
}
.den {
    float: left;
}
.pow {
    margin-top: -2px;
}
.power {
    font-size: 11px;
    margin-top: -2px;
}
.base {
    float: left;
    clear: both;
    margin-top: -2px;
}